/* CSS Document */
/*公用*/
*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

body{width:100%;margin:0;height:100%;color:#666666;background:url(../images/hdpi/common_bg.jpg);position:relative;}
h3,p,dl,dd,dt{margin:0;padding:0;}
ul{margin:0;padding:0;list-style-type:none;}
a{text-decoration:none;}
.clear {clear:both;}
.border_bottom_none{border-bottom:none;}
.container {padding-bottom:60px;min-height:517px;}
.list_container {padding:5px 0;border-bottom:solid 1px #dddddd;position:relative;}
#total {width:100px;height:10px;border:solid 1px #1882cc ;text-align:left;position:absolute;left:88px;top:8px;}
#part {height:10px;background:#1882cc;}
dd,dd span ,textarea,p,div{word-wrap:break-word;}
.initcolor{color:#999 !important}
.green {color:#66a211;}

/*页面标题栏公用*/
.game_list_titlebar{position:relative;height:71px;width:100%;line-height:68px;text-align:center;color:#ffffff;font-size:26px;font-weight:bold;text-shadow:0 -1px 4px #000000;}
.game_list_titlebar img {position:absolute;left:0;top:0;z-index:-1;}


/*注册页面*/
#UserReg .reg_main {margin:0 auto;width:480px;}
#UserReg .reg_main  dt {font-size:24px;color:#1c1c1c;text-shadow:0 1px 1px #ffffff;font-weight:700;margin:13px 0px 8px 20px;}
#UserReg .reg_main .input_text input {width:429px;height:46px;color:#6d6d6d;background:url(../images/hdpi/login_text.png);margin-left:20px;border:0;padding:0 5px;margin-bottom:5px;font-size:20px;font-weight:700;}
#UserReg .prompt_message {margin-left:20px;font-size:16px;font-weight:700;color:#6d6d6d;}
#UserReg .checking input {width:145px;height:46px;margin:8px 11px 15px 20px;color:#666666;background:url(../images/hdpi/login_text.png);border:0;float:left;padding:0 5px;font-size:20px;font-weight:700;}
#UserReg .checking div {padding-top:7px;height:30px;float:left;margin:11px 8px 0 0;}
#UserReg .checking a {cursor:pointer;text-decoration:underline;display:block;float:left;width:120px;height:25px;margin-top:15px;color:#666666;font-weight:700;}
#UserReg .agreement .notchecked {background:url(../images/hdpi/common_notchecked.png);width:30px;height:30px;float:left;margin-left:20px;}
#UserReg .agreement .checked {background:url(../images/hdpi/common_checked.png);width:30px;height:30px;float:left;margin-left:20px;}
#UserReg .agreement {line-height:30px;margin-bottom:5px;}
#UserReg .submit_div input {text-shadow:0 1px 2px #ffffff;width:200px;height:50px;border:0;float:left;margin-left:30px;background:url(../images/hdpi/userreg_btn.png);font-size:20px;color:#272725;font-weight:700;}
#UserReg .submit_div {margin-bottom:25px;margin-top:20px;}

/*登陆页面*/
#login .login_content {margin:54px auto;width:480px;}
#login ul {margin-left:20px;}
#login .login_content li {width:439px;height:46px;background:url(../images/hdpi/login_text.png);margin-top:23px;}
#login  label {height:46px;line-height:46px;font-size:24px;color:#272725;padding:0 8px;font-weight:700;width:30px;text-shadow:0 0 1px #ffffff;}
#login li input {width:280px;height:25px;padding:3px;line-height:25px;font-size:24px;color:#6d6d6d;font-weight:700;background:none;border:0;}
#login .login_button input {width:200px;height:50px;border:0;float:left;margin-left:27px;font-size:24px;color:#272725;font-weight:700;text-shadow:0 0 1px #ffffff;}
#login .reg_new {background:url(../images/hdpi/userreg_btn.png);} #login .reg_new_click {background:url(../images/hdpi/userreg_btn_click.png);}
#login .login {background:url(../images/hdpi/login_btn.png);} #login .login_click {background:url(../images/hdpi/login_btn_click.png);}
#login .error {font-weight:700;color:red;}
#login .login_button {width:100%;margin-top:26px;}
#login .getpassword {padding:0 25px;height:25px;margin:11px 0;}
#login .login_content a {float:right;text-decoration:none;float:right;font-size:18px;color:#007dbe;font-weight:700;text-decoration:underline;}
#login .welcome {width:430px;margin:0 auto;padding:0 25px;text-shadow:0 1px 1px #ffffff;font-size:22px;color:#272725;font-weight:700;}
#login .welcome2{width:430px;margin:0 auto;padding:0 25px;text-shadow:0 1px 1px #ffffff;font-size:22px;color:#272725;font-weight:700;line-height:50px;}
#login .welcome2 span {font-size:45px;color:#336699;}
#login .gotolook {cursor:pointer;width:394px;height:68px;background:url(../images/hdpi/welcome_btn.png);margin:20px auto;font-size:24px;text-align:center;line-height:60px;color:#ffffff;text-shadow:0 -1px 4px #000000;font-weight:700;}
/*欢迎界面第一次登陆*/
#welcome .welcome {margin:50px auto;width:480px;}
#welcome .input_text input {width:429px;height:46px;color:#666666;background:url(../images/hdpi/login_text.png);margin-left:20px;border:0;padding:0 5px;margin-bottom:5px;font-size:20px;font-weight:700;}
#welcome .prompt_message{font-size:16px;color:#6d6d6d;font-weight:700;margin:10px 0;margin-left:20px;text-shadow:0 0 1px #ffffff;}
#welcome .checked {background:url(../images/hdpi/common_checked.png);width:30px;height:30px;float:left;margin-left:20px;}
#welcome .notchecked{background:url(../images/hdpi/common_notchecked.png);width:30px;height:30px;float:left;margin-left:20px;}
#welcome .name {line-height:30px;font-weight:700;text-shadow:0 0 1px #ffffff;color:#272725;font-size:18px;}
#welcome .welcome_btn {width:394px;height:68px;background:url(../images/hdpi/welcome_btn.png);margin:40px auto 0;font-size:24px;line-height:55px;color:#ffffff;text-align:center;font-weight:700;}
#welcome p{font-size:18px;color:#272725;text-align:center;text-shadow:0 0 1px #ffffff;font-weight:700;margin-top:20px;lin}

.red{color:red}
#UserReg .error {margin-left:20px;color:red;font-size:16px;font-weight:700;}
.reg_success {padding:40px 10px;line-height:40px;font-size:20px;font-weight:700;}
.reg_back {width:200px;height:50px;background:url(../images/hdpi/login_btn.png);border:0;color:#ffffff;text-shadow:0 1px 2px #000000;font-size:20px;font-weight:700;margin-left:120px;}