<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lion.engine"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <application
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name="com.lion.engine.example.activity.SampleGameActivity" >
        </activity>
        <activity android:name="com.lion.engine.example.activity.MainMenuActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.lion.engine.example.activity.DDSMenuActivity" >
        </activity>
        <activity android:name="com.lion.engine.example.activity.DDSGameActivity" >
        </activity>
        <activity
            android:name="com.lion.engine.example.activity.DDSResultActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="com.lion.engine.example.activity.DDSHiScoreActivity" >
        </activity>

        <provider
            android:authorities="com.lion.engine.example.storage.scoreprovider"
            android:name="com.lion.engine.example.storage.ScoreProvider" />

        <activity android:name="com.lion.engine.example.activity.DDSOptionActivity" >
        </activity>
        <activity android:name="com.lion.engine.example.activity.DFJMenuActivity" >
        </activity>

        <!-- activity for sdk -->
        <activity
            android:configChanges="orientation|keyboardHidden|navigation"
            android:label="Dashboard"
            android:name="com.nearme.gamecenter.core.ui.Dashboard"
            android:theme="@style/Theme.NomalActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="Login"
            android:name="com.nearme.gamecenter.core.ui.LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="Register"
            android:name="com.nearme.gamecenter.core.ui.RegisterActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="UserCenter"
            android:name="com.nearme.gamecenter.core.ui.UserCenterLoginActivity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- end activity for sdk -->
        <activity android:name=".example.activity.DDSWhetherCheckBoardActivity" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <uses-sdk android:minSdkVersion="8" />

</manifest>